:root {
    --editColor: rgba(0, 174, 255, 0.25);

    --BreiLANGrey: rgb(32, 32, 32);
    --BreiLANGrey2: rgb(15, 15, 15);
}

@font-face {
    font-family: AzoSans-Bold;
    src: url(../fonts/AzoSans-Bold.otf);
}

@font-face {
    font-family: AzoSans-BoldItalic;
    src: url(../fonts/AzoSans-BoldItalic.otf);
}

body {
    height: 100vh;
    margin: 0;
    background-color: black;
    color: white;
    font-family: AzoSans-Bold;
}

#navBar1 {
    height: 10vh;
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2vw;
}

#navBar2 {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    padding-right: 2vw;
    gap: 2vw;
}

#uberNavBar {
    width: 100%;
    height: 10.8vh;
    display: flex;
    background-image: linear-gradient(var(--BreiLANGrey), var(--BreiLANGrey2));
    border-bottom: solid 0.5vh white;
}

#LoginSection {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginLabel {
    margin: 2vh;
    font-size: x-large;
}

#loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#deleteTaskButton {
    width: 10vw;
    height: 4vh;
    margin: 0;
    margin-top: 7vh;
    box-shadow: 0 0;
}

.button {
    margin: 20px;
    color: white;
    font-family: AzoSans-Bold;
    height: 30px;
    width: 65px;
    background-color: black;
    border: solid 2px white;
    border-radius: 5px;
    box-shadow: 1px 2px 3px rgba(255, 255, 255, 0.5);
    transition: 0.2s;
}

.button:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: var(--BreiLANGrey2);
}

.textField {
    color: white;
    height: 20px;
    background-color: var(--BreiLANGrey2);
    border: solid 2px white;
    border-radius: 5px;
    box-shadow: 1px 2px 3px rgba(255, 255, 255, 0.5);
}

.navBars {
    height: 50px;
    width: 50px;
    margin-top: 25px;
}

#navBar3 {
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#navBar3:hover .dropdownDiv {
    display: flex;
}

.dropdownDiv {
    width: 95%;
    margin-top: -20px;
    display: none;
    flex-direction: column;
    align-items: center;
}

.navButtonDropdown {
    width: 100%;
    height: 45px;
    color: white;
    text-decoration: none;  
    border-radius: 10px;
    border-bottom: solid 1px var(--BreiLANGrey);
    display: flex;
    justify-content: center;
    align-items: center;
}

.navButtonDropdown:hover {
    cursor: pointer;
    background-color: var(--BreiLANGrey2);
}

.triangle-up {
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-bottom: 40px solid #ffffff;
}

.triangle-up-small {
    position: absolute;
    margin-top: 6px;
    margin-bottom: -3px;
	width: 0;
	height: 0;
	border-left: 22px solid transparent;
	border-right: 22px solid transparent;
	border-bottom: 35px solid #000000;
}

#dropdown {
    margin-top: -3px;
    width: 100%;
    background-color: black;
    border: solid 3px white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

#aboutUsSection {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#aboutUsImage {
    height: 200px;
    width: 200px;
}

#aboutUs {
    width: 500px;
}

#contactSection {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    gap: 50px;
}

#contactForm {
    width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    margin-left: 20%;
}

.textSubmit {
    color: white;
    font-family: AzoSans-Bold;
    height: 25px;
    width: 250px;
    margin-bottom: 20px;
    border: solid 2px white;
    border-radius: 5px;
    background-image: linear-gradient(var(--BreiLANGrey), var(--BreiLANGrey2));
}

#message {
    resize: none;
    color: white;
    font-family: AzoSans-Bold;
    border: solid 2px white;
    border-radius: 5px;
    background-image: linear-gradient(var(--BreiLANGrey), var(--BreiLANGrey2));
}

#contactFormSubmit {
    color: white;
    font-family: AzoSans-Bold;
    border: solid 2px white;
    border-radius: 10px;
    box-shadow: 1px 2px 3px rgba(255, 255, 255, 0.5);
    background-color: black;
    width: 100px;
    height: 35px;
    margin-top: 10px;
    transition: 0.2s;
}

#contactFormSubmit:hover {
    scale: 1.1;
    cursor: pointer;
}

#contactDiv2 {
    width: 500px;
    height: 100%;
    padding-top: 15px;
}

.contactSlide {
    height: 150px;
    width: 100%;
    display: flex;
}

.contact {
    height: 150px;
    width: 75%;
    padding-left: 25px;
    display: flex;
    flex-direction: column;
}

.contact p {
    margin-top: -10px;
}

.contact h2 {
    font-size: small;
    margin-top: -25px;
}

.contact h1 {
    font-size: 30px;
}

.contactImgDiv {
    height: 150px;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactImage {
    height: 75%;
    border: solid 2px white;
    border-radius: 75px;
}

#loggedInUser {
    margin: 0;
    margin-left: 25px;
}

#BreiLANLogo {
    height: 100px;
    margin-left: 25px;
}

.navButton {
    text-decoration: none;
    color: white;
    align-items: flex-end;
}

.tournamentList{
    width: 80%;
    margin-left: 10%;
    height: auto;   
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.tournamentDiv{
    width: 35vw;
    height: 20vh;
    background-color: var(--BreiLANGrey2);
    display: flex;
    flex-direction: column;
    padding: 2vh;
    padding-bottom: 0;
    border: solid 0.5vh white;
    border-radius: 2vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3vh;
}

#addTournamentButton {
    width: 7vw;
}

.nameDate{
    width: auto;
    display: flex;
    justify-content: space-between;
}

.nameDate h1 {
    font-size: 4vh;
    margin-top: 0;
}

.nameDate p {
    font-size: 2vh;
}

.organizer {
    margin: 0;
    margin-top: -5vh;
    font-size: x-large;
}

.signUpLink{
    margin-left: auto;
    color: white;
}

#adminButtons {
    height: 100%;
    width: 25vw;
    display: flex;
    gap: 2vw;
    align-items: end;
}
#tournamentForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 50%;
    margin: auto;
    margin-top: 25px;
}

#tournamentEditForm{
    background-color: var(--editColor);
    padding: 3%;
    border-radius: 12px ;
    border: 1px var(--BreiLANGrey) solid;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size : 2rem;
}

#tournamentEditForm button{
    font-size: 1rem;
    min-width: 250px;
}