<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Breilan</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  </head>
  <body>
    <h1 class=" ">{{ current_user.username }}</h1>
    <form id="tournamentForm" action="#" method="post">
      
        <label >
            Name of tournament
        </label>
        <input type="text" name="tournamentNameForm" id="tournamentNameForm">

        <label >
            Date
        </label>
        <input type="text" name="tournamentDateForm" id="tournamentDateForm">

        <label >
            time
        </label>
        <input type="text" name="tournamentTimeForm" id="tournamentTimeForm">
        
        <label for="">
            Organizer
        </label>
        <input type="text" name="tournamentOrganizerForm" id="tournamentOrganizerForm">
        
        <label for="">
            Link to forms signup
        </label>
        <input type="text" name="tournamentLinkForm" id="tournamentLinkForm">
    
        <button type="submit">add tournament</button>
    
    </form>

    <div id="routing">
        <a href="/adduser">
          add user
        </a>
  
        <a href="/login">
          log in
        </a>
  
        <a href="/logout">
          log out
        </a>
  
        <a href="/add_tournament">
          add tournament
        </a>
      </div>


    <!-- <script src="{{ url_for('static', filename='/javascript/script.js') }}"></script> -->
  </body>
</html>