<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css')}}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Breilan</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  </head>
  <body>
    <nav id="uberNavBar">
      <nav id="navBar1">
        <img src="../static/images/Breilan-Black-Logo-Transparent.png" id="BreiLANLogo" class="navLeft">
        <h1 id="loggedInUser" class="navLeft">Logged in as: {{ current_user.username }}</h1>
      </nav>
      <nav id="navBar2">
        <a href="/adduser" class="navButton">
          add user
        </a>
  
        <a href="/login" class="navButton">
          log in
        </a>
  
        <a href="/logout" class="navButton">
          log out
        </a>
  
        <a href="/add_tournament" class="navButton">
          add tournament
        </a>
  
        <a href="/crew_panel" class="navButton">
          crew_panel
        </a>
      </nav>
    </nav>

    <form id="addUserForm" action="#" method="post">
      
        <label >
            username
        </label>
        <input type="text" name="usernameInput" id="usernameInput">

        <label >
            password
        </label>
        <input type="password" name="passwordInput" id="passwordInput">
        
        <button type="submit">login</button>
    
    </form>
    
    <!-- <script src="{{ url_for('static', filename='/javascript/script.js') }}"></script> -->
  </body>
</html>