<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css')}}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Breilan</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  </head>
  <body>
    <form id="addUserForm" action="#" method="post">
      
        <label >
            username
        </label>
        <input type="text" name="usernameInput" id="usernameInput">

        <label >
            password
        </label>
        <input type="password" name="passwordInput" id="passwordInput">
        
        <button type="submit">login</button>
    
    </form>

    <a href="/">
      hovedside
    </a>

    
    <!-- <script src="{{ url_for('static', filename='/javascript/script.js') }}"></script> -->
  </body>
</html>