<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Breilan</title>
  </head>
  <body>
    <h1 class=" ">{{ current_user.username }}</h1>

    <div id="routing">
      <a href="/adduser">
        add user
      </a>

      <a href="/login">
        log in
      </a>

      <a href="/logout">
        log out
      </a>

      <a href="/add_tournament">
        add tournament
      </a>

      <a href="/">
        home
      </a>

    </div>

    <section class="tournamentList">
      {% for tournament in tournaments %}
      <article class="tournamentDiv">
        <div class="nameDate">
          <h1>{{ tournament.tournamentName }}</h1>
          <p>{{ tournament.dato }} {{ tournament.time }}</p>
        </div>
        <p class="organizer">{{ tournament.organizer }}</p>
        <a href="{{ tournament.linkToForms }}" class="signUpLink">Påmelding</a>
        <form action="{{url_for('delete_tournament', tournament_id=tournament.id)}}" method="post">
            <button type="submit" id="deleteTaskButton">Slett oppgave</button>
        </form>
      </article>
      {% endfor %}
    </section>

  </body>
</html>
