<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css')}}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Breilan</title>
  </head>
  <body onload="error_check()">
    <nav id="uberNavBar">
      <nav id="navBar1">
        <a href="/">
          <img src="../static/images/BreiLAN logo transparent.png" id="BreiLANLogo" class="navLeft">
        </a>
        <h1 id="loggedInUser" class="navLeft">Logged in as: {{ current_user.username }}</h1>
      </nav>
      <nav id="navBar2">
        <a href="Index.html" class="navButton">
          Hjem
        </a>
        <a href="om_oss.html" class="navButton">
          Om oss
        </a>
        <a href="kontakt.html" class="navButton">
          Kontakt
        </a>
      </nav>
      <nav id="navBar3">
        <img src="../static/images/Bars.png" class="navBars">
        <div class="dropdownDiv">
          <div class="triangle-up"></div>
          <div class="triangle-up-small"></div>
          <div id="dropdown">
            <a href="/login" class="navButtonDropdown">
              log in
            </a>
            <a href="/logout" class="navButtonDropdown">
              log out
            </a>
            <a href="/add_tournament" class="navButtonDropdown">
              add tournament
            </a>
            <a href="/crew_panel" class="navButtonDropdown">
              crew panel
            </a>
            <a href="/adduser" class="navButtonDropdown">
              add user
            </a>
          </div>
        </div>
      </nav>
    </nav>
    
    <section id="LoginSection">
      <form id="loginForm" action="#" method="post">
        <label class="loginLabel">
          username
        </label>
        <input type="text" name="usernameInput" id="usernameInput" class="textField">
        <label class="loginLabel">
          password
        </label>
        <input type="password" name="passwordInput" id="passwordInput" class="textField">
        <button type="submit" class="button">login</button>
      
      </form>
    </section>

    <script src="{{ url_for('static', filename='/javascript/loginFormValidation.js') }}"></script>

    <script>
      function error_check(){
        if( "{{ error }}" !== ''){
          alert("{{ error }}")
        }
        else if ("{{ flashed_message|safe }}" != '') {
          alert(" {{ flashed_message|safe }}")
        }
      }
    </script>
  </body>
</html>